footer{
   
    margin-top: 30px;
    box-shadow: 12px 12px 20px rgb(156, 148, 148);
    background-color: rgb(137, 39, 194);
    width: 90%;
    height: 100px;
    margin-left: 5%;
    border-radius: 32px;
    margin-top: 30px;
}
footer h1{
    color: beige;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    text-shadow: 8px 8px 20px#beb0b0;
}